*{
	margin: 0;
	padding: 0;
}

html{
	font-size: 62.5%;
}

/*--header--*/

header {
	position: sticky;
	top: 0px;
	border-bottom: solid 2px black;
	background-image: linear-gradient(to bottom, green, yellow);
}

.header-marcas {
	position: relative;
	top: 0px;
	border-bottom: solid 2px black;
	background-image: linear-gradient(to bottom, green, yellow);
}

.li-header {
	display: inline-block;
	width: 10%;
	position:relative;
	font-size: 2.5rem;
}

.header-mensaje {
	border-style:double;
	display: inline-block;
	position: absolute;
	top: 10px;
	left: 400px;
}

nav {
	position: relative;
	bottom: 40px;
	left: 440px;
}

#logo {
	position: relative;
	left: 40px;
}

/*--body--*/

body{
	overflow-x: hidden;
}

h2 {
	font-size: 2rem;
}

h3{
	font-size: 3rem;
	background-position: center;
}

p{
	text-align: center;
}

ul {
   list-style: none;
   font-size:0;
}

.secciones-index {
	display: grid;
	grid-template-rows: 400px 200px;
}

.seccion1 {
	background-color: rgb(242, 201, 125);
	text-align: center;
	line-height: 50px;
}

#img-index {
border-radius: 40px 40px 40px 40px;
border: solid 2px;
}

.tabla {
	background-color: white;
	border: solid 1px;
}

.parrafo-seccion2 {
	color:black;
	font-weight: normal;
	font-size: 200%;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	line-height: 3;
	position: relative;
	top: 70px;
}

a {
	text-decoration: none;
	color: black;
}

.contenedor-marcas {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 200px;
  padding: 2px;
  gap: 15px;
}

.imagen-marca {
  width: 50%;
  height: 50%;
  -webkit-box-shadow: 10px 11px 11px -4px rgba (0, 0, 0.36);
  -moz-box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.36);
  box-shadow: 10px 11px 11px -4px rgba(0, 0, 0, 0.36);
	position: relative;
	top: 20px;
}

.galeria-item {
  position: relative;
	background-color: white;
}

.galeria-titulo {
  position: absolute;
  bottom: 0;
  color: black;
  background-color: rgb(135, 147, 151);
  width: 100%;
  padding: 5px 0;
  font-weight: 300;
  border: 3px;
}

/*--footer--*/

footer {
	background-color: rgb(185, 236, 185);
	border-top: solid 2px black;
	background-image: linear-gradient(to top, rgb(60, 113, 60), rgb(213, 213, 138));
}

.li-footer {
	display: inline-block;
	width: 10%;

	font-size: 2rem;	
}

.parrafo-footer {
	color:black;
	font-weight: normal;
	font-size: 200%;
	font-family: 'Courier New', Courier, monospace;
	text-align: center;
	line-height: 3;
}

.img-redes {
	width: 4%;
	height: 4%;
}

.img-redes:hover {
	transform: scale(1.5);
	transition: all 2s;
}

.footer-redes {
	position: relative;
	top: 10px;
	left: 10px;
}

/*--media queries--*/

/*--mobile--*/

@media only screen and (max-width:450px) {
	.productos {
		background-color: rgb(242, 201, 125);
		align-items: center;
		overflow-x: hidden;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		line-height: 3;
	}
	.imagen-productos {
		width: 50%;
		height: 50%;
	}
	ul {
		display: none;
	}
	.header-mensaje {
		display: none;
	}
	#img-index {
		width: 50%;
	}
	#logo {
		width: 10%;
	}
	.galeria-titulo {
		font-size: 10px;
	}
	.imagen-marca {
		width: 50%;
		height: 50%;
	}
	.contenedor-marcas {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-auto-rows: 200px;
		padding: 2px;
		gap: 15px;
	}
	.mapa {
		width: 40%;
		height: 40%;
	}
	.video {
		width: 40%;
		height: 40%;
	}
	p{
		font-size: 1.5rem;
	}
}

/*--tablet--*/

@media only screen and (min-width:451px) and (max-width:950px) {
	.productos {
		background-color: rgb(242, 201, 125);
		align-items: center;
		overflow-x: hidden;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		line-height: 3;
	}
	.imagen-productos {
		width: 70%;
		height: 70%;
	}
	ul {
		display: none;
	}
	.header-mensaje {
		display: none;
	}
	#img-index {
		width: 70%;
	}
	#logo {
		width: 20%;
	}
	.galeria-titulo {
		font-size: 20px;
	}
	.imagen-marca {
		width: 40%;
		height: 40%;
	}
	.contenedor-marcas {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-auto-rows: 200px;
		padding: 2px;
		gap: 15px;
	}
	.mapa {
		width: 60%;
		height: 60%;
	}
	.video {
		width: 60%;
		height: 60%;
	}
	p {
		font-size: 2rem;
	}
}

/*--desktop--*/

@media only screen and (min-width:951px) {
	.productos {
		background-color: rgb(242, 201, 125);
		align-items: center;
		overflow-x: hidden;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		line-height: 3;
	}
	.galeria-titulo {
		font-size: 30px;
	}
	.imagen-marca {
	  width: 50%;
  	height: 50%;
	}
	.contenedor-marcas {
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-auto-rows: 200px;
		padding: 2px;
		gap: 15px;
	}
	p{
		font-size: 2.5rem;
	}
}

/*--transformaciones--*/

.li-header:hover {
	transform: scale(1.5);
	transition: all 2s;
}

/*--animacion--*/

#img-index:hover {
	animation: cambio-tamaño 3s;
}

@keyframes cambio-tamaño {
	0%{
		border-radius:60px 60px 60px 60px;
	}
	15%{
		border-radius:160px 160px 160px 160px;
	}
	25%{
		border-radius:240px 240px 240x 240px;
	}
	50%{
		border-radius:160px 160px 160px 160px;
	}
	100%{
		border-radius:40px 40px 40px 40px;
	}
}
